<div id="target_details">
    <div class="m-2 p-1 text-base">
        <b hx-target="#content" hx-get="targets" class="text-lg">< Back</b>
        <br/>
        <br/>
        <h1 class="text-xl border-b-4">Details: {{ .target.Name }}</h1>
        <ul>
            {{range .target.Healthchecks}}
            <li {{if eq .Status "Healthy"}} class="text-green-600 border-b-2" {{else}} class="text-red-600" {{end}}>
                Status: {{.Status }} | checked at {{ .Timestamp }}
            </li>
            {{end}}
        </ul>
    </div>
</div>