<div id="target_details" hx-get={{ .target.Id | printf "target?id=%s" }} hx-trigger="every 10s">
    <div class="m-2 p-1 text-base">
        <b hx-target="#content" hx-get="targets" class="text-lg">< Back</b>
        <br/>
        <br/>
        <h1 class="text-xl">Details: {{ .target.Name }}</h1>
        <ul class="border-4">
            {{range .target.Healthchecks}}
                {{ $bc := "border-yellow-600" }}
                {{ $bg := "bg-yellow-200" }}
                {{ if eq .Status "Healthy" }}
                    {{ $bc = "border-green-600" }}
                    {{ $bg = "bg-green-200" }}
                {{ else if eq .Status "Unhealthy"}}
                    {{ $bc = "border-red-600" }}
                    {{ $bg = "bg-red-200" }}
                {{end}}

            <li class="border-t-2 {{ $bc }} {{ $bg }}">
                Status: {{.Status }} | checked at {{ .Timestamp }}
            </li>
            {{end}}
        </ul>
    </div>
</div>